USE [master]
GO
/****** Object:  Database [WaterPlantDB]    Script Date: 11-05-2022 22:36:21 ******/
CREATE DATABASE [WaterPlantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WaterPlantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WaterPlantDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WaterPlantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WaterPlantDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WaterPlantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WaterPlantDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11-05-2022 22:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaterPlantDetails]    Script Date: 11-05-2022 22:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaterPlantDetails](
	[pId] [int] IDENTITY(1,1) NOT NULL,
	[pName] [nvarchar](50) NOT NULL,
	[waterStatus] [nvarchar](50) NOT NULL,
	[waterTime] [datetime2](7) NOT NULL,
	[isWatering] [bit] NOT NULL,
	[waterInterval] [int] NOT NULL,
 CONSTRAINT [PK_WaterPlantDetails] PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220510161019_Init', N'6.0.5')
GO
SET IDENTITY_INSERT [dbo].[WaterPlantDetails] ON 

INSERT [dbo].[WaterPlantDetails] ([pId], [pName], [waterStatus], [waterTime], [isWatering], [waterInterval]) VALUES (1, N'Plant1', N'watering', CAST(N'2022-05-11T22:20:46.3956998' AS DateTime2), 0, 21600)
INSERT [dbo].[WaterPlantDetails] ([pId], [pName], [waterStatus], [waterTime], [isWatering], [waterInterval]) VALUES (2, N'Plant2', N'watering', CAST(N'2022-05-11T22:18:29.9345046' AS DateTime2), 0, 21600)
SET IDENTITY_INSERT [dbo].[WaterPlantDetails] OFF
GO
USE [master]
GO
